<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site_name }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="dns-prefetch" href="https://www.google-analytics.com">
	{{> assets meta_data=true}}
	{{> assets facebook=true}}
	{{> assets twitter=true}}

	{{> assets styles="true"}}
	{{> assets ga=true}}
</head>
<body>
	<div class="container row align-middle">

		<div class="column small-12 medium-10 medium-offset-1">
			<div class="row">
				{{> header}}
			</div>
			<div class="row">
				{{> main}}
			</div>
			<div class="row">
				{{> social}}
			</div>
		</div>
	</div>
</body>
</html>