$body-font-family: 'Roboto', sans-serif;
$header-font-family: 'Roboto', sans-serif;

@import '../../node_modules/foundation-sites/scss/foundation';

@include foundation-flex-grid;
// @include foundation-visibility-classes;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-thumbnail;

@font-face {
    font-family: 'Roboto';
    src: url('/assets/roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/roboto/Roboto-Light.ttf');
    font-weight: 300
}

@font-face {
    font-family: 'Roboto';
    src: url('/assets/roboto/Roboto-Black.ttf');
    font-weight: bold;
}

*{
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

body, html {
	margin:0;
    max-width: 100%;
}

.container{
	opacity: 1;
	min-height: 100vh;
	padding: rem-calc(16px) 0;
}

.header__headshot{
	border-radius: 100%;
	max-width: rem-calc(150px);

	@include breakpoint(medium) {
		max-width: rem-calc(200px);
	}
}

.header__site-title{
	font-size: rem-calc(32px);
	line-height: 1;
	font-weight: bold;

	@include breakpoint(medium) {
		font-size: rem-calc(80px);
	}
}

main{
	font-weight: 300;

	@include breakpoint(medium) {
		font-size: rem-calc(30px);
	}
}

.intro{
	font-weight: normal;
	font-size: rem-calc(18px);

	@include breakpoint(medium) {
		font-size: rem-calc(40px);
	}
}

.social__link{
	color: black;
	text-decoration: none;
	transition: opacity 0.5s;
	margin: 0 rem-calc(10px);

	&:hover{
		opacity: 0.75;
	}
}

.social__image{
	width: rem-calc(35px);

	@include breakpoint(medium) {
		width: rem-calc(60px);
	}
}