<footer class="social column small-12">
{{#each @data.social}}
	<a href="{{ url }}" target="{{ target }}" class="social__link">
		<img src="{{ icon }}" class="social__image">
	</a>
{{/each}}
</footer>