<footer>
	<div class="mb-4 lg:mb-16">
        <h2 class="{{ @root.theme.h2 }} mb-4">Let's Connect</h2>
        <p class="{{ @root.theme.body }}">Leo velit auctor ligula phasellus lectus imperdiet</p>
    </div>
</footer>