<header class="column small-12">
	<div class="row align-middle">
		<div class="column shrink">
			<img src="{{ headshot.image }}" alt="{{ headshot.alt }}" class="header__headshot thumbnail">	
		</div>
		<div class="column">
			<h1 class="header__site-title">{{ site_name }}</h1>
		</div>
	</div>
</header>