<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
	{{> loader}}
	<div>
		<div>
			<div>
				{{> header}}
			</div>
			<div>
				{{> main}}
			</div>
			<div>
				{{> footer}}
			</div>
		</div>
	</div>
</body>
</html>