<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
	<div>
		{{#> section color="bg-white"}}
			{{> summary}}
		{{/section}}
		
		{{#> section color="bg-charade"}}
			{{> skills}}
		{{/section}}
		
		{{!-- {{#> section color="wild-sand"}}
			{{> footer}}
		{{/section}} --}}
		{{#> section color="bg-miragea"}}
			{{> social}}
		{{/section}}
	</div>
</body>

</html>