<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
	<div>
		<div>
			<div class="bg-white">
				<div class="container mx-auto text-center">
					{{> header}}
				</div>
			</div>
			<div class="bg-gray-100">
				<div class="container mx-auto text-center">
					{{> main}}
				</div>
			</div>
			<div class="bg-white">
				<div class="container mx-auto text-center">
					{{> footer}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>